venv/
.venv/

HW2/imagenette2-160/
HW2/data/cifar-10-python.tar.gz
HW2/data/cifar-10-batches-py

# HW2/training_loss.png
*.png
Exam Prep/cs343_guide.pdf
*.JPG
*.pdf
.DS_Store
HW3/VOCdevkit/
HW3/VOCtrainval_11-May-2012.tar
HW4/coco_val_subset/images/
HW4/coco_val_subset/instances_val2017.json
